<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>adjustableViewHeightsProgramatic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E894E24C1D95A85000DB98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E894E2601D95A85000DB98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E894E26B1D95A85000DB98C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
